@import '../../../styles/partials/variables';

.pagination-page .page-item,
.active {
  background: green !important;
  border: transparent !important;
  border-radius: 20px !important;
}

.page-link{
  color:red !important;
}

.grid-card{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
