.cards-category {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  @include breakpoint(laptop) {
    @media screen {
      grid-template-columns: repeat(6, 1fr);
      margin-bottom: -0.5rem;
    }
  }
}

.card-category {
  @include displayFlex(column, center, center);
  padding: 1rem;
  background-color: white;
  &:hover {
    background-color: $coral;
    color: white;
    span {
      font-weight: 500;
    }
  }
}

.cards {
  @include breakpoint(laptop) {
    @media screen {
      display: grid;
      // grid-template-columns: repeat(auto-fit, minmax(25vw, 1fr));
      // gap: 1rem;
      // padding: 1.5rem;
      // width: 90vw;
      // margin: 0 auto;
    }
  }
}

.card-item {
  @include displayFlex(column);
  p {
    margin-bottom: 0.2rem;
  }
  margin-bottom: 1rem;
  @include breakpoint(laptop) {
    @media screen {
      @include displayFlex(row, flex-start, flex-start);
    }
  }
}

.card-content {
  @include displayFlex(column);
}

.image-container{
  width: 100%;
}

.card-image {
  @include breakpoint(laptop) {
    @media screen {
      object-fit: cover;
      width: 268px;
      height: 212px;
    }
  }
}
.card-footer-content {
  @include displayFlex(row, space-around);
}
