.cards-category {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  @include breakpoint(laptop){
    @media screen {
      grid-template-columns: repeat(6,1fr);
    }
  }
}

.card-category {
  @include displayFlex(column, center, center);
  padding: 1rem;
  background-color: white;
  &:hover {
    background-color: $coral;
    color: white;
    span {
      font-weight: 500;
    }
  }
}

.cards {
}
.card-item {
  @include displayFlex(column);
  .card-content {
    @include displayFlex(column);
  }
  p {
    margin-bottom: .2rem;
  }
  font-size: large;
  margin-bottom: 1rem;
}
.card-footer-content {
  @include displayFlex(row, space-around);
}
