.border-gray {
  color: gray;
}

.border-transparent {
  border: 1px solid white;
}
.bg-gray {
  background-color: $light-gray;
}

//text colors
.text-black {
  color: black;
}
.text-coral {
  color: $coral;
}

//widths
.w-40 {
  width: 40% !important;
}
.w-30 {
  width: 30% !important;
}
.w-20 {
  width: 20% !important;
}
.w-sm-40 {
  @include breakpoint(laptop) {
    @media screen {
      width: 40% !important;
    }
  }
}
.w-sm-30 {
  @include breakpoint(laptop) {
    @media screen {
      width: 30% !important;
    }
  }
}
.w-sm-20 {
  @include breakpoint(laptop) {
    @media screen {
      width: 20% !important;
    }
  }
}
