<div class="filter">
  <header class="filter-header">
    <span>Reset</span>
    <span>Filters</span>
    <button type="button" class="close" aria-label="Close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </header>
  <form [formGroup]="filterForm" class="py-2" (ngSubmit)="onSubmit()">
    <div class="pb-3 border-bottom">
      <div class="d-flex justify-content-between pb-2">
        <strong class="ml-3">Establisment types</strong>
        <a *ngIf="showButton" role="button" class="visible-on-mobile font-weight-bold mr-3">See all</a>
      </div>
     <div class="filter-item">
        <div formArrayName="types" *ngFor="let type of establishmentTypesArray.controls; let i=index">
          <div class="custom-control custom-checkbox ml-3 py-1">
            <input type="checkbox" class="custom-control-input" id="{{'id'+i}}" [formControlName]="i">
            <label class="custom-control-label" attr.for="{{'id'+i}}">{{establishmentTypes[i]?.name}}</label>
          </div>
        </div>
     </div>
    </div>
    <div class="pb-3 border-bottom mt-4">
      <div class="d-flex justify-content-between pb-2">
        <strong class="ml-3">Categories</strong>
        <a *ngIf="showButton" role="button" class="visible-on-mobile font-weight-bold mr-3">See all</a>
      </div>
    <div class="filter-item">
        <div formArrayName="categories" *ngFor="let cat of categoriesArray.controls; let i=index">
          <div class="custom-control custom-checkbox ml-3 py-1">
            <input type="checkbox" class="custom-control-input" id="{{'cat'+i}}" [formControlName]="i">
            <label class="custom-control-label" attr.for="{{'cat'+i}}">{{categories[i]?.name}}</label>
          </div>
        </div>
    </div>
    </div>
    <div class="pb-3 border-bottom mt-4">
      <div class="d-flex justify-content-between pb-2">
        <strong class="ml-3">Cuisines</strong>
        <a *ngIf="showButton" role="button" class="visible-on-mobile font-weight-bold mr-3">See all</a>
      </div>
      <div class="filter-item">
        <div formArrayName="cuisines" *ngFor="let cuisine of cuisinesArray.controls; let i=index">
          <div class="custom-control custom-checkbox ml-3 py-1">
            <input type="checkbox" class="custom-control-input" id="{{'cuisine'+i}}" [formControlName]="i">
            <label class="custom-control-label" attr.for="{{'cuisine'+i}}"> {{cuisines[i]?.cuisine_name}}</label>
          </div>
        </div>
      </div>
    </div>
    <div class="sticky-bottom text-center my-2 pt-1"> <button type="submit" class="btn btn-secondary w-90">Apply</button>
    </div>
  </form>
</div>