/* You can add global styles to this file, and also import other style files */

@import "./styles/partials/variables";
@import "./styles/partials/buttons";
@import "./styles/partials/card";
@import "./styles/partials/forms";
@import "./styles/partials/grid";
@import "./styles/partials/utilities";
@import "./styles/partials/layout";

body {
  margin: 0;
  padding: 0;
  font-size: 14px;
}

a {
  color: black;
  &:hover {
    color: black;
    text-decoration: none;
  }
}

.parallax-block {
  position: relative;
  overflow: hidden;
}

.parallax-bg {
  background: url("https://images.unsplash.com/photo-1541067179951-86f896983cf8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1000&q=60");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100%;
  width: 100%;
  height: 100%;
  background-attachment: fixed;
}

.parallax-content {
  height: 100%;
  margin-bottom: -0.8rem;
}

.all-photos-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.profile-img {
  max-width: 50px;
  max-height: 50px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.filter {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  min-width: 100vw;
  overflow: auto;
  background-color: white;
  border-radius: .2rem;
  border: 1px solid $light-gray;

  @include breakpoint(laptop) {
    position: relative;
    min-width: 150px;
  }
}

.filter-header{
  display: flex;
  justify-content: space-between;
  padding: 8px;
  @include breakpoint(laptop) {
    display: none;
  }
}
.sticky-bottom {
  position: sticky;
  bottom: 0;
}
